<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <input type="text" id="input" placeholder="<%=data%>">
        <button id="get">GET</button>
        <button id="post">POST</button>
    </form>
    <table>
        <tr>
        <% Object.keys(data.hirogana).forEach((y) => { %>
            <td><%= data.hirogana[y] %></td>
        <% }) %>
        </tr>
    </table>
    <script type='text/javascript'>

        const getBtn = document.getElementById('get')
        const postBtn = document.getElementById('post')
        const input = document.getElementById('input')

        const baseUrl = 'http://localhost:3000/'

        getBtn.addEventListener('click', getInfo)
        async function getInfo(e){
            e.preventDefault();
            const res = await fetch(baseUrl + 'info/test?key=hello',
            {
                method: 'GET'
            })
            console.log(res);
            const data = await res.json();
            input.value = data.info;
        }

        postBtn.addEventListener('click', postInfo)
        async function postInfo(e){
            e.preventDefault();
            if(input.value == '') {return;}
            const res = await fetch(baseUrl,
            {
                method: 'POST',
                headers: {
                    "Content-Type": 'application/json'
                },
                body: JSON.stringify({
                    parcel: input.value
                })
            })
        }
    </script>
</body>
</html>